@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
body {
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    font-size: larger;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
    background-image: url('pikachu_minimalist_desktop_wallpaper_by_thegreatdawn_dafdx2j.jpg');
}

.loading {
    width: 100px;
    margin-left: 100px;
}

.hidden {
    display: none;
}

head {
    display: flex;
    background-color: black;
    padding: 10px
}

.mainPage {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    padding: 10px;
}

.detailPage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
}

.pokemon {
    display: grid;
    grid-template-columns: 1fr, 3fr;
    grid-template-rows: 2fr;
    list-style-type: none;
}

.catchEm {
    display: flex;
    margin-left: 150px;
}

.catchDetail {
    display: flex;
    margin-left: 80px;
}

.pokeMain>figure>img {
    width: 130px
}

.pokeMain figcaption {
    margin-left: 25px;
}

h1 {
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
}

.pokemon {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    font-weight: 900;
    font-size: larger;
}

.pokemon img {
    width: 250px;
    margin-left: 25px;
}

.pokemon figcaption {
    margin-left: 100px;
}