        body {
            margin-top: 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: large;
            font-weight: bold;
            margin-left: auto;
            margin-right: auto;
            background-image: url('pikachu_minimalist_desktop_wallpaper_by_thegreatdawn_dafdx2j.jpg')
        }
        
        head {
            display: flex;
            background-color: black;
            padding: 10px
        }
        
        main {
            display: grid;
            grid-template-columns: 1fr 4fr;
            grid-template-rows: 1fr;
            padding: 10px;
        }